{% extends "base.html" %}
{% block title %} Viestit {% endblock %}
{% block content %}

    <h2>{{ topic }}</h2>  
    <table>
        <tr>
            <th>Viesti</th>
            <th>Lähettäjä</th>
            <th>Lähetetty</th>
            <th style="text-align: center;">Tykkäykset</th>
            <th style="width: 100px;"></th>
            <th style="width: 100px;"></th>
            <th></th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message[0] }}</td>
            <td>{{ message[1] }}</td>
            <td>{{ message[2].strftime("%d %b %Y") }}</td>
            <td style="text-align: center;">{{ message[5] }}<br>
            {% if session.user_id %}
                {% if message[6] == 0 %}
                    <a href="{{url_for("upvote", message_id=message[4], user_id=session.user_id, category=category, topic=topic)}}"><img src="../images/like.png" alt="Tykkää"></a>
                {% else %}
                    <a href="{{url_for("downvote", message_id=message[4], user_id=session.user_id, category=category, topic=topic)}}"><img src="../images/dislike.png" alt="Älä tykkää"></a>
                {% endif %}
            {% endif %}
            {% if session.user_id == message[3] %}
            <td>    
            <form action="/edit_message" method="POST" name="message_info">
                <input type="hidden" name="user_id" value="{{session.user_id}}">
                <input type="hidden" name="message_id" value="{{message[4]}}">
                <input type="hidden" name="topic" value="{{topic}}">
                <input type="hidden" name="category" value ="{{category}}">
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                <input type="hidden" name="content" value="{{message[0]}}">
                <button type="submit">Muokkaa viestiä</button> 
            </form>
            </td>
            <td>
            <form action="/remove_message" method="POST">
                <input type="hidden" name="user_id" value="{{ session.user_id }}">
                <input type="hidden" name="message_id" value="{{message[4]}}">
                <input type="hidden" name="topic" value="{{topic}}">
                <input type="hidden" name="category" value ="{{category}}">
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                <button type="submit">Poista viesti</button> 
            </form>
            </td>
            {% endif %}    
        </tr>
        {% endfor %}
    </table>    
    <br>
    {% if session.user_id %}
        <form action="/add" method="POST" onsubmit="return check(this)">
            Uusi viesti:<br>
            <textarea name="content" rows="4" cols="50" placeholder="maks. 5000 merkkiä"></textarea>
            <br>
            <input type="hidden" name="topic" value="{{ topic }}">
            <input type="hidden" name="category" value ="{{ category }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit">Lähetä viesti</button>
        </form>
    {% endif %}
    <br>
    <a href="/{{category}}">Palaa keskusteluihin kategoriassa {{ category }}</a>
{% endblock %}

<script>
    function check(form) {
        if (form.content.value.length > 5000) {
            alert("Viesti on liian pitkä");
            return false;
        }
        return true;
    }
</script>